.card {
    height: 150px;
    width: 150px;
    border: 3px cyan solid;
    margin: 1rem;
    position: relative;
    float: left;
    margin-left: 21px;
}

.card > .img-container {
    height: 100%;
    overflow: hidden;
    background: tan ;
}

.card > .img-container > img {
    height: 100%;
} 